{% extends 'base.html' %}

{% block title %}Questões Scrum{% endblock %}
{% block head %}
  {{ super() }} <link rel="stylesheet" href="{{ url_for('static', filename='questions.css') }}">
{% endblock %}

{% block content %}
    <main class="container flex-auto flex flex-col items-center justify-center w-full mx-auto px-10 sm:px-8 md:px-32 gap-4 mb-24 lg:py-0 lg:gap-8">
        <h1 class="text-3xl text-slate-900 font-bold frm-title">Questões Gerais sobre Scrum</h1>
        <form action="#" method="post" class="w-full">
            <div class="question">
                <p class="qtitle">Qual é a origem do nome "Scrum"?</p>
                <p><input type="radio" name="choice1" id="a1"><label for="a1">Uma técnica de gerenciamento de projetos tradicional</label></p>
                <p><input type="radio" name="choice1" id="a2"><label for="a2">Uma jogada no futebol americano</label></p>
                <p><input type="radio" name="choice1" id="a3"><label for="a3">Uma jogada do Rugby, em que o time se une para alcançar um objetivo</label></p>
                <p><input type="radio" name="choice1" id="a4"><label for="a4">Um conceito de tecnologia de software</label></p>
            </div>
            <div class="question">
                <p class="qtitle">Qual é o foco principal do Scrum?</p>
                <p><input type="radio" name="choice2" id="b1"><label for="b1">Trabalhar em grandes lotes para acelerar a entrega</label></p>
                <p><input type="radio" name="choice2" id="b2"><label for="b2">Gerar valor através de soluções adaptativas para problemas complexos</label></p>
                <p><input type="radio" name="choice2" id="b3"><label for="b3">Controlar rigidamente os processos de desenvolvimento</label></p>
                <p><input type="radio" name="choice2" id="b4"><label for="b4">Priorizar sempre as entregas rápidas, independentemente da qualidade</label></p>
            </div>
            <div class="question">
                <p class="qtitle">Quais são os três pilares fundamentais do Scrum?</p>
                <p><input type="radio" name="choice3" id="c1"><label for="c1">Foco, compromisso e coragem</label></p>
                <p><input type="radio" name="choice3" id="c2"><label for="c2">Inspeção, adaptação e transparência</label></p>
                <p><input type="radio" name="choice3" id="c3"><label for="c3">Planejamento, execução e controle</label></p>
                <p><input type="radio" name="choice3" id="c4"><label for="c4">Abertura, respeito e coragem</label></p>
            </div>
            <div class="question">
                <p class="qtitle">O que define o tamanho ideal de um Scrum Team?</p>
                <p><input type="radio" name="choice4" id="d1"><label for="d1">Entre 10 e 15 pessoas</label></p>
                <p><input type="radio" name="choice4" id="d2"><label for="d2">5 ou menos pessoas</label></p>
                <p><input type="radio" name="choice4" id="d3"><label for="d3">10 ou menos pessoas</label></p>
                <p><input type="radio" name="choice4" id="d4"><label for="d4">Qualquer número, desde que seja coordenado pelo Scrum Master</label></p>
            </div>
            <div class="question">
                <p class="qtitle">Quem é responsável por cancelar uma Sprint, caso a meta se torne obsoleta?</p>
                <p><input type="radio" name="choice5" id="e1"><label for="e1">O Scrum Master</label></p>
                <p><input type="radio" name="choice5" id="e2"><label for="e2">O Development Team</label></p>
                <p><input type="radio" name="choice5" id="e3"><label for="e3">O Product Owner</label></p>
                <p><input type="radio" name="choice5" id="e4"><label for="e4">O gerente do projeto</label></p>
            </div>
            <div class="question">
                <p class="qtitle">Qual é o objetivo da Sprint Planning?</p>
                <p><input type="radio" name="choice6" id="f1"><label for="f1">Avaliar o progresso da Sprint anterior</label></p>
                <p><input type="radio" name="choice6" id="f2"><label for="f2">Determinar quais tarefas serão realizadas na próxima Sprint e como serão realizadas</label></p>
                <p><input type="radio" name="choice6" id="f3"><label for="f3">Rever as métricas do projeto</label></p>
                <p><input type="radio" name="choice6" id="f4"><label for="f4">Decidir quais membros do time devem ser substituídos</label></p>
            </div>
            <div class="question">
                <p class="qtitle">Qual é o propósito do Daily Scrum?</p>
                <p><input type="radio" name="choice7" id="g1"><label for="g1">Revisar o progresso e ajustar o Sprint Backlog conforme necessário</label></p>
                <p><input type="radio" name="choice7" id="g2"><label for="g2">Apresentar o trabalho finalizado para os stakeholders</label></p>
                <p><input type="radio" name="choice7" id="g3"><label for="g3">Decidir se a Sprint deve ser cancelada</label></p>
                <p><input type="radio" name="choice7" id="g4"><label for="g4">Estabelecer novos requisitos para o produto</label></p>
            </div>
            <div class="question">
                <p class="qtitle">O que é o Product Backlog?</p>
                <p><input type="radio" name="choice8" id="h1"><label for="h1">A lista de tarefas realizadas na Sprint anterior</label></p>
                <p><input type="radio" name="choice8" id="h2"><label for="h2"> A lista de todas as funcionalidades desejadas para o produto, ordenadas por prioridade</label></p>
                <p><input type="radio" name="choice8" id="h3"><label for="h3">O relatório de progresso diário da equipe</label></p>
                <p><input type="radio" name="choice8" id="h4"><label for="h4">Uma lista de impedimentos que a equipe precisa resolver</label></p>
            </div>
            <div class="question">
                <p class="qtitle">O que acontece durante a Sprint Review?</p>
                <p><input type="radio" name="choice9" id="i1"><label for="i1">O time define os objetivos para a próxima Sprint</label></p>
                <p><input type="radio" name="choice9" id="i2"><label for="i2">O progresso do Sprint atual é inspecionado, e as mudanças são discutidas com os stakeholders</label></p>
                <p><input type="radio" name="choice9" id="i3"><label for="i3">O Product Owner cancela a Sprint se necessário</label></p>
                <p><input type="radio" name="choice9" id="i4"><label for="i4">O time discute os problemas internos do grupo</label></p>
            </div>
            <div class="question">
                <p class="qtitle">O que é um Incremento no Scrum?</p>
                <p><input type="radio" name="choice10" id="j1"><label for="j1">A soma de todas as funcionalidades concluídas até o momento</label></p>
                <p><input type="radio" name="choice10" id="j2"><label for="j2">Um item que não foi completado na Sprint atual</label></p>
                <p><input type="radio" name="choice10" id="j3"><label for="j3">Um novo requisito adicionado ao Product Backlog</label></p>
                <p><input type="radio" name="choice10" id="j4"><label for="j4">O relatório final do desenvolvimento</label></p>
            </div>
            <!-- FIM DO FORMÚLÁRIO -->
            
            <input type="button" onclick="ScrumQuestions()" value="Verificar">
            <input type="reset" onclick="hiddenBox()" value="Limpar">
        </form>
    </main>
    <!-- DIV PROVISÓRIA COM OS RESULTADOS -->
    <section id="result-panel" name="Resultados da Avaliação" hidden class="results">
        <span>Acertos:</span><span id="result">0</span>    
    </section>
    <!-- FIM DOS RESULTADOS -->
{% endblock %}