@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, b {
    font-family: "Archivo", sans-serif;
}

.text-gradient {
    background: linear-gradient(to right, #5545F0, #658AF0, #7AD0EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html {
    scroll-behavior: smooth;
}

li {
    List-style-position: inside;
}