{% extends 'base.html' %}

{% block title%}O que é o Dev Team? - Scrum360{% endblock %}

{% block content %}
  
<!-- Banner -->
    <section class="flex-none flex flex-col items-center justify-center h-[20rem] text-white px-4 modules-p4">
        <h1 class="min-[100px]:text-4xl md:text-8xl font-bold text-center">
            O que é DevTeam?
        </h1>
        <p class="mt-4 text-lg font-light text-gray-200 text-center">Um guia sobre o funcionamento da equipe de desenvolvimento.</p>
    </section>

<!-- Contéudo Principal-->
    <main class="container flex-auto flex flex-col items-center justify-center w-full mx-auto px-10 sm:px-8 gap-4 mb-24 lg:py-0 lg:gap-8">
        <div class="flex-auto flex justify-between items-center w-full gap-32 pt-16 lg:flex-nowrap lg:px-16 md:flex-wrap">
            <div class="flex-auto">
                <div class="mb-2 flex justify-center">
                    <audio controls>
                        <source src="/static/audios/DevTeam01.mp3" type="audio/mp3">
                    </audio>
                </div>
                <h2 class="text-xl font-semibold text-blue-600">
                    Sobre o DevTeam
                </h2>
                <h1 class="text-4xl text-slate-900 font-bold mb-4">
                    Quem são os membros de um &lt;DevTeam/&gt; ?
                </h1>
                <p class="text-black text-xl text-justify">
                    São as pessoas comprometidas em criar qualquer incremento utilizável do produto dentro da meta da Sprint. Em outras palavras, serão a mão de obra de um projeto, recebem o Product Backlog do P.O da equipe e logo após executam suas tarefas devidamente separadas e direcionadas pelo Scrum Master.
                </p>
                <h3 class="text-3xl pt-10 font-bold text-blue-600">Developers são responsáveis por:</h3>
                <div class="flex flex-col justify-between h-100">
                   <ul class="list-disc font-normal pt-5 text-xl space-y-5">
                       <li>
                           <b>Criar um plano para a Sprint, a Sprint Backlog:</b> Com um conjunto de atividades necessárias para desenvolver o projeto no período especificado da Sprint, ou seja, uma Sprint Backlog, os developers conseguem se organizar facilmente diante da organização e da construção do projeto.
                       </li>
                       <li>
                           <b>Executar as ações definidas para o Sprint Backlog:</b> Quando o projeto se encontra elaborado e com suas entregas visualmente definidas, as tarefas são divididas pelo time de developers, possibilitando o projeto se estruturar aos poucos.
                       </li>
                       <li>
                           <b>Introduzir qualidade baseado em uma definição de pronto:</b> É de extrema importância que a equipe de developers se comprometa com a qualidade do produto que está sendo desenvolvido, ao se atentar com esse requisito, deve também informar aos companheiros quando sua tarefa estiver pronta, para que possam analisar assim a qualidade da mesma.
                       </li>
                       <li>
                           <b>Auxiliar os companheiros com dificuldade na realização de suas tarefas:</b> Naturalmente, existirão aquelas tarefas que exigem mais conhecimento e técnica para serem realizadas, ocasionalmente, causará dificuldade em alguns membros. Sendo assim função de developers mais preparados auxiliar os que se encontram em obstáculos.
                       </li>
                       <li>
                           <b>Adaptar seu plano a cada dia em direção à meta da Sprint:</b> Para que não aconteça uma dissociação de tarefa ou um atraso em relação ao projeto, é importante analisar e adaptar os planos, fazendo os mesmos ter seguimento pelo planejamento da Sprint, e pontualidade nas entregas.
                       </li>
                       <li>
                           <b>Responsabilizar-se mutuamente como profissionais:</b> O papel de um developer é fundamental para qualquer parte do projeto, se o mesmo não obtém uma postura profissional, evidentemente o projeto há de não ter um caminho próspero.
                       </li>
                   </ul>
                </div>
                <div class="flex justify-between items-center w-full pt-6">
                    <a href="/modules" class="flex-none flex items-center px-4 py-4 rounded-lg font-medium text-white bg-blue-600 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                        </svg>  
                        Módulos
                    </a>
                    <a href="/DevTeamQuestions" class="flex-none flex items-center px-4 py-4 rounded-lg font-medium text-white bg-blue-600 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Avaliação
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                        </svg>                              
                    </a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
