{% extends 'base.html' %}

{% block title%}Módulos{% endblock %}

{% block content %}

<!-- Banner -->
    <section class="flex-none flex flex-col items-center justify-center h-[20rem] text-white modules-pattern">
        <h1 class="text-6xl font-bold mb-5">Portal Scrum</h1>
        <p class="text-lg font-light text-gray-100 text-center">Aqui você encontra os módulos disponíveis para estudo.</p>
    </section>

<!-- Contéudo principal -->
    <main class="container flex-auto flex flex-col self-center items-center justify-center w-full gap-0 lg:py-0 lg:gap-4">
        <div class="flex-auto grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4 mx-auto md:px-16 xl:px-32 my-12">
        <!-- Scrum -->
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl hover:border-blue-300">
                <a href="/ScrumTail" class="">
                    <div class="rounded-t-lg h-12 modules-p1" src="" alt=""></div>
                </a>
                <div class="p-5">
                    <div class="flex flex-col justify-between">
                        <a href="/ScrumTail" class="flex-auto">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-900">O Scrum</h5>
                        </a>
                        <p class="flex-auto mb-3 font-normal text-gray-700">
                            Metodoligia ágil para gestão de projetos que promove entregas incrementais e iterativas com foco na colaboração e melhoria contínua
                        </p>
                        <div class="flex-auto flex justify-between items-center">
                            <a href="/ScrumTail" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                Aprender
                                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                            <div class="flex-none">
                                <!-- checkbox general scrum -->
                                <span {{ sc_show }} id="sc-progress" class="font-normal text-gray-700">{{ sc_points }} de {{ sc_total }}</span>
                                <input id="chbx-scrum" disabled type="checkbox" value="" class="w-5 h-5 text-green-600 bg-gray-100 border-gray-300 rounded" {{ score_scrum_generics }}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- P.O -->
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl hover:border-blue-300">
                <a href="/ProductOwner" class="">
                    <div class="rounded-t-lg h-12 modules-p2" src="" alt=""></div>
                </a>
                <div class="p-5">
                    <div class="flex flex-col justify-between">
                        <a href="/ProductOwner">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-900">Product Owner</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700">
                            Responsável por maximizar o valor do produto, gerenciar o backlog, definir prioridades para que atendam as expectativas do cliente.
                        </p>
                        <div class="flex-auto flex justify-between items-center">
                            <a href="/ProductOwner" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                Aprender
                                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                            <div class="flex-none">
                                <!-- checkbox product owner -->
                                <span {{ po_show }} id="po-progress" class="font-normal text-gray-700">{{ po_points }} de {{ po_total }}</span>
                                <input id="chbx-product-owner" disabled type="checkbox" value="" class="w-5 h-5 text-green-600 bg-gray-100 border-gray-300 rounded" {{ score_product_owner }}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Scrum Master -->
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl hover:border-blue-300">
                <a href="/ScrumMaster" class="">
                    <div class="rounded-t-lg h-12 modules-p3" src="" alt=""></div>
                </a>
                <div class="p-5">
                    <a href="/ScrumMaster">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-900">Scrum Master</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">
                        Facilita o processo Scrum, remove impedimentos, promove práticas ágeis e garante que a equipe siga os princípios do Scrum.
                    </p>
                    <div class="flex-auto flex justify-between items-center">
                        <a href="/ScrumMaster" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Aprender
                             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                        <div class="flex-none">
                            <!-- checkbox scrum master -->
                            <span {{ sm_show }} id="sm-progress" class="font-normal text-gray-700">{{ sm_points }} de {{ sm_total }}</span>
                            <input id="chbx-scrum-master" disabled type="checkbox" value="" class="w-5 h-5 text-green-600 bg-gray-100 border-gray-300 rounded" {{ score_scrum_master }}>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Dev Team -->
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl hover:border-blue-300">
                <a href="/DevTeamTail" class="">
                    <div class="rounded-t-lg h-12 modules-p4" src="" alt=""></div>
                </a>
                <div class="p-5">
                    <a href="/DevTeamTail">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-900">Dev Team</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">
                        Grupo de profissionais multifuncionais que desenvolvem e entregam incrementos funcionais do produto a cada sprint.
                    </p>
                    <div class="flex-auto flex justify-between items-center">
                        <a href="/DevTeamTail" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Aprender
                             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                        <div class="flex-none">
                            <!-- checkbox dev team -->
                            <span {{ dt_show }} id="dt-progress" class="font-normal text-gray-700">{{ dt_points }} de {{ dt_total }}</span>
                            <input id="chbx-dev-team" disabled type="checkbox" value="" class="w-5 h-5 text-green-600 bg-gray-100 border-gray-300 rounded" {{ score_dev_team }}>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
{% endblock %}