{% extends 'base.html' %}

{% block title%}O que é Scrum Master? - Scrum360{% endblock %}

{% block content %}
<!-- Banner -->
<section class="flex-none flex flex-col items-center justify-center h-[20rem] text-white px-4 modules-p3">
    <h1 class="min-[100px]:text-4xl md:text-8xl font-bold text-center">
        O que é o Scrum Master?
    </h1>
    <p class="mt-4 text-lg font-light text-gray-200 text-center">Um guia completo sobre a função do Scrum Master na
        equipe.</p>
</section>

<!-- Contéudo Principal -->
<main
    class="container flex-auto flex flex-col items-center justify-center w-full mx-auto px-10 sm:px-8 gap-4 mb-24 lg:py-0 lg:gap-8">
    <div class="flex-auto flex justify-between items-center w-full gap-32 pt-16 lg:flex-nowrap lg:px-16 md:flex-wrap">
        <div class="flex-auto">
            <h2 class="text-xl font-semibold text-blue-600">
                Sobre o Scrum Master
            </h2>
            <h1 class="text-4xl text-slate-900 font-bold mb-4">
                Quais são as funções do Scrum Master ?
            </h1>
            <p class="text-black text-xl text-justify">
                O Scrum Master é a pessoa responsavel por garantir que metodologia Scrum seja entendido e aplicado,
                aderindo ao time a teoria, as práticas e as regras da metodologia.
            </p>
            <h3 class="text-3xl pt-10 font-bold text-blue-600">
                O Scrum Master trabalhando com o Product Owner:
            </h3>
            <div class="flex flex-col justify-between h-100">
                <ul class="list-disc font-normal pt-5 text-xl space-y-5">
                    <li>
                        Encontrando técnicas para o gerenciamento efetivo do Backlog do produto;
                    </li>
                    <li>
                        Comunicar a visão, objetivo e itens do Backlog do produto para o time de desenvolvimento;
                    </li>
                    <li>
                        Ensinar ao time scrum a criar itens de Backlog do produto;
                    </li>
                    <li>
                        Compreender a longo-prazo o planejamento do produto no ambiente;
                    </li>
                    <li>
                        Facilitar os eventos Scrum conforme exigidos ou necessários.
                    </li>
                </ul>
            </div>
            <h3 class="text-3xl pt-10 font-bold text-blue-600">
                O Scrum Master trabalhando com o Time de Desenvolvimento:
            </h3>
            <div class="flex flex-col justify-between h-100">
                <ul class="list-disc font-normal pt-5 text-xl space-y-5">
                    <li>
                        Treinar o time em auto gerenciamento e interdisciplinaridade;
                    </li>
                    <li>
                        Ensinar e liderar o time na criação de produtos de alto valor;
                    </li>
                    <li>
                        Remover impedimentos para o progresso do time;
                    </li>
                    <li>
                        Facilitar os eventos Scrum;
                    </li>
                    <li>
                        Treinar o time em ambientes organizacionais que utilizem outras metodologias ágeis.
                    </li>
                </ul>
            </div>
            <h3 class="text-3xl pt-10 font-bold text-blue-600">O Scrum Master trabalhando com a organização:</h3>
            <div class="flex flex-col justify-between h-100">
                <ul class="list-disc font-normal pt-5 text-xl space-y-5">
                    <li>
                        Ajustar o Scrum a jeito da empresa;
                    </li>
                    <li>
                        Planejando implementações Scrum dentro da organização;
                    </li>
                    <li>
                        Ajudando funcionários e partes interessadas a compreender e tornar aplicável o Scrum;
                    </li>
                    <li>
                        Aumentar a produtividade do Time.
                    </li>
                </ul>
            </div>
            <div class="flex justify-between items-center w-full pt-6">
                <a href="/modules"
                    class="flex-none flex items-center px-4 py-4 rounded-lg font-medium text-white bg-blue-600">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 12h14M5 12l4-4m-4 4 4 4" />
                    </svg>
                    Módulos
                </a>
                <a href="/ScrumMasterQuestions"
                    class="flex-none flex items-center px-4 py-4 rounded-lg font-medium text-white bg-blue-600">
                    Avaliação
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}