{% extends 'base.html' %}

{% block title%}Como funciona o Scrum? - Scrum360{% endblock %}

{% block content %}
<!-- Banner -->
<section class="flex-none flex flex-col items-center justify-center h-[20rem] text-white px-4 modules-p1">
    <h1 class="min-[100px]:text-4xl md:text-8xl font-bold text-center">
        Como funciona o Scrum?
    </h1>
    <p class="mt-4 text-lg font-light text-gray-200 text-center">Uma guia introdutório sobre a metodologia Scrum.</p>
</section>

<!-- Contéudo Principal-->
<main class="container flex-auto flex flex-col items-center justify-center w-full mx-auto px-10 sm:px-8 gap-4 mb-24 lg:py-0 lg:gap-8">
    <div class="flex-auto flex flex-col lg:flex-row justify-between items-center w-full gap-8 lg:gap-32 lg:px-16 pt-16">
        <div class="flex-auto">
            <h2 class="text-lg sm:text-xl font-semibold text-blue-600">
                Primeiramente...
            </h2>
            <h1 class="text-2xl sm:text-3xl lg:text-4xl text-slate-900 font-bold mb-4">
                Como surgiu a metodologia Scrum?
            </h1>
            <p class="text-black text-base sm:text-lg lg:text-xl text-justify">
                Na década de 1990, com o aumento da demanda por software, as metodologias tradicionais de
                desenvolvimento, como o modelo cascata, mostravam-se lentas e engessadas. Em meio a esse cenário, Ken
                Schwaber e Jeff Sutherland desenvolveram o Scrum, inspirado em conceitos de agilidade e produção enxuta.
                Eles se basearam no artigo de 1986 da Harvard Business Review, onde os pesquisadores Hirotaka Takeuchi e
                Ikujiro Nonaka comparavam o desenvolvimento de produtos à dinâmica do rugby. No rugby, a formação
                chamada “scrum” reúne os jogadores em um esforço coletivo para alcançar a bola – uma analogia perfeita
                para o trabalho colaborativo e flexível que Schwaber e Sutherland queriam implementar no desenvolvimento
                de software.
            </p>
            <h3 class="text-xl sm:text-2xl lg:text-3xl pt-10 lg:pt-20 font-bold text-blue-600">Ok... mas o que é Scrum?</h3>
            <div class="flex flex-col justify-between h-100">
                <section class="pt-4">
                    <p class="text-black text-base sm:text-lg lg:text-xl text-justify">
                        O Scrum é uma metodologia que ajuda as empresas, organizações e times na geração de valor por
                        meio de soluções adaptativas para problemas complexos. Scrum se baseia em experiências
                        anteriores e na observação e também concentra-se no que é essencial. Scrum trabalha com a
                        abordagem interativa e incremental.
                    </p>
                </section>
            </div>
            <div class="flex-auto flex flex-col w-full justify-center items-center pt-20">
                <div class="flex-none flex flex-col justify-center mb-8">
                    <h1 class="flex-none text-5xl text-blue-900 font-bold">Valores Scrum</h1>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 min-h-[200px]">
                <div class="rounded-lg overflow-hidden shadow-lg bg-white p-6">
                    <h2 class="font-bold text-xl mb-2 text-blue-700">Transparência</h2>
                    <p class="text-gray-700 text-base text-justify">
                        O processo e o trabalho devem ser visíveis a todos, entre os que executam o trabalho e os que
                        recebem. Sem a transparência, decisões que aumentam o risco e diminuem o valor, podem ser
                        tomadas.
                    </p>
                </div>
                <div class="rounded-lg overflow-hidden shadow-lg bg-white p-6">
                    <h2 class="font-bold text-xl mb-2 text-blue-700">Inspeção</h2>
                    <p class="text-gray-700 text-base text-justify">
                        O progresso em direção às metas definidas deve ser inspecionado com frequência para garantir o
                        sucesso da meta.
                    </p>
                </div>
                <div class="rounded-lg overflow-hidden shadow-lg bg-white p-6">
                    <h2 class="font-bold text-xl mb-2 text-blue-700">Adaptação</h2>
                    <p class="text-gray-700 text-base text-justify">
                        Se os aspectos do processo se distanciam da meta além de limites aceitáveis, o processo deve ser
                        ajustado para manter a direção da meta.
                    </p>
                </div>
            </div>
            <div class="pt-20">
                <section class="text-justify">
                    <h2 class="text-3xl font-semibold text-blue-900 pb-5">
                        O sucesso da metodologia Scrum depende de 5 pilares principais:
                    </h2>
                    <ol class="list-decimal marker:font-bold text-xl grid gap-4">
                        <li>
                            <b class="font-semibold font-roboto">Compromisso: </b> O time se compromete a realizar os
                            objetivos e suportar uns aos outros
                        </li>
                        <li>
                            <b class="font-semibold font-roboto">Foco: </b> O foco principal é a meta da Sprint.
                        </li>
                        <li>
                            <b class="font-semibold font-roboto">Abertura: </b> Os membros são abertos quanto ao trabalho e
                            aos desafios.
                        </li>
                        <li>
                            <b class="font-semibold font-roboto">Respeito: </b> Os membros se respeitam e são respeitados,
                            tornando-os independentes e capazes.
                        </li>
                        <li>
                            <b class="font-semibold font-roboto">Coragem: </b> Os membros tem a coragem de fazer a coisa certa
                            e trabalhar em problemas difícies.
                        </li>
                        <p class="text-xl pt-8">
                            Quando esses valores são incorporados pelo time Scrum, os pilares: Transparência, inspeção e
                            adaptação, ganham vida gerando confiança.
                        </p>
                    </ol>
                </section>
            </div>

            <section class="text-justify">
                <div class="flex-auto flex flex-col w-full justify-center items-center pt-20">
                    <div class="flex-none flex flex-col justify-center mb-8">
                        <h1 class="flex-none text-5xl text-blue-900 font-bold">Eventos Scrum</h1>
                    </div>
                </div>
                <ul class="text-xl justify-around grid gap-4">
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Sprint: </span> A Sprint é o coração do Scrum, onde as ideias
                            são transformadas em valor. São eventos de duração fixa de um mês ou menos, uma nova sprint
                            começa imediatamente após a conclusão da sprint anterior. Todo trabalho para atingir a meta
                            do produto acontece dentro das sprints. Sprints permitem previsibilidade garantindo a
                            inspeção e adaptação na direção da meta do produto, cada sprint pode ser considerada um
                            projeto curto.

                            Uma sprint pode ser cancelada se a meta da sprint se tornar obsoleta, somente o Product
                            Owner tem autoridade para cancelar a sprint.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Sprint Planning: </span> Aqui é planejado o trabalho que será
                            realizado na Sprint pelo Scrum Team. Essa reunião tem um time-boxed de máximo 8 horas para
                            uma sprint de um mês de duração. O Scrum Master garante que o evento ocorra dentro do
                            time-boxed e que todos os participantes entendam o seu propósito.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Daily Scrum: </span> Como uma breve reunião da equipe, o Daily
                            Scrum tem a função de alinhar o que está sendo feito, compreender a situação do projeto por
                            todos integrantes através da inspeção, e
                            se necessário, usar da adaptação para a melhora da Sprint Backlog.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Sprint Review: </span> A Sprint Review nada mais é que uma
                            revisão do resultado da Sprint, determinando o será adaptado para o futuro. No processo da
                            Sprint Review, o Scrum Team apresentará os resultados para os principais stakeholders,
                            deixando claro as mudanças e os atos na Sprint. Sendo um evento que pode levar a mudança de
                            outros, como modificações no Product Backlog, pois é na Sprint Review que clientes e
                            interessados no produto podem dar sugestões de como deverá seguir o andamento do produto.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Sprint Retrospective: </span> A função da Sprint Retrospective é
                            avaliar a eficiência do trabalho da equipe para identificar e corrigir os impedimentos e
                            problemas, e intensificar as qualidades e pontos fortes. Através de uma inspeção da última
                            Sprint, é examinado os indivíduos, interações, processos, ferramentas e a definição do
                            produto. Um time que utiliza da Sprint Restropective, adiciona ferramentas e métodos em
                            futuras Sprints, facilitando futuros processos.
                        </div>
                    </li>
            </section>

            <section class="">
                <div class="flex-auto flex flex-col w-full justify-center items-center pt-20 mb-8">
                    <h1 class="flex-none text-5xl text-blue-900 font-bold text-center">Artefatos Scrum</h1>
                </div>
                <ul class="text-xl justify-around grid gap-4 text-justify">
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Product Backlog: </span> O Product Backlog é uma lista dinâmica
                            que reúne todas as funcionalidades, melhorias e correções necessárias para a criação e
                            aprimoramento do produto. Inicialmente elaborado entre o Product Owner e o cliente, ele logo
                            se torna a base de trabalho para os desenvolvedores. Este artefato é de responsabilidade do
                            Product Owner, que prioriza os itens com base no valor que eles trazem para os usuários e na
                            viabilidade técnica. Um método muito eficiente aplicado no Product Backlog é o MVP (Minimum
                            Viable Product), que se concentra na entrega das partes de maior valor do produto. O Product
                            Backlog é constantemente revisado e atualizado, refletindo as mudanças nas necessidades do
                            cliente e nas condições do mercado, permitindo uma gestão adaptativa e centrada no valor.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Minimun Viable Product (MVP): </span>As primeiras entregas ao
                            stakeholder, obrigatoriamente são aquelas que possuem mais valor para serem utilizadas. Por
                            exemplo, em um projeto cujo o produto a ser desenvolvido é uma cama, a primeira entrega na
                            Sprint deverá ser o colchão, pois com essa primeira parte do produto, o cliente já tem
                            funcionalidade com o que foi entregue. A efetuação de entregas nas Sprints, baseadas no MVP,
                            torna o projeto mais simples e mais satisfatório ao cliente.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Sprint Backlog: </span> O Sprint Backlog é uma seleção de itens
                            do Product Backlog, consistindo nas funcionalidades que a equipe se compromete a entregar
                            durante um sprint específico. Este artefato é desenvolvido durante a Sprint Planning e atua
                            como um plano de ação detalhado para a equipe. O Sprint Backlog é flexível, permitindo
                            ajustes conforme necessário ao longo do sprint, à medida que novas informações e feedbacks
                            são recebidos. Essa adaptabilidade garante que a equipe mantenha o foco nas entregas
                            planejadas e esteja pronta para se ajustar às mudanças que possam surgir.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Definição de Pronto (Definition of Done): </span> A Definição de
                            Pronto é um acordo dentro da equipe que estabelece os critérios que um item deve atender
                            para ser considerado completo. Isso inclui aspectos como testes, documentação e aceitação do
                            cliente. A Definição de Pronto garante que todos na equipe compartilhem uma compreensão
                            comum do que significa “pronto”, minimizando mal-entendidos e aumentando a qualidade das
                            entregas.
                        </div>
                    </li>
                    <li>
                        <div class="max-w-full rounded-lg overflow-hidden shadow-lg bg-white p-6">
                            <span class="font-semibold">Incremento: </span>O incremento é a soma de todos os itens do
                            Product Backlog que foram completados durante o sprint, mais todos os incrementos
                            anteriores. Esse artefato representa o estado atual do produto, pronto para ser
                            potencialmente entregue ao cliente. O incremento deve atender a critérios de aceitação
                            estabelecidos, garantindo que as funcionalidades entregues sejam utilizáveis e agreguem
                            valor ao usuário. A entrega contínua de incrementos permite que as equipes respondam
                            rapidamente às necessidades dos clientes e adaptem o produto conforme necessário.
                        </div>
                    </li>
                </ul>
                <div class="flex justify-between items-center w-full pt-6">
                    <a href="/modules"
                        class="flex-none flex items-center px-4 py-4 rounded-lg font-medium text-white bg-blue-600">
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 12h14M5 12l4-4m-4 4 4 4" />
                        </svg>
                        Módulos
                    </a>
                    <a href="/ScrumQuestions"
                        class="flex-none flex items-center px-4 py-4 rounded-lg font-medium text-white bg-blue-600">
                        Avaliação
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 12H5m14 0-4 4m4-4-4-4" />
                        </svg>
                    </a>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}