@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

header {
    padding: 16px 51px;
    background-color: rgb(0, 255, 255);
}

.logo{
    display: flex;
    font-size: 32px;
}

.introducao{
    display: grid;
    grid-template-columns: 800px 625px;
    gap: 20px;
    padding: 28px 70px;
    background-color: rgb(207, 206, 206);
    
}

.introducao > div > h1{
    margin-bottom: 20px;
}

.introducao > div p{
    font-size: 28px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 20px;
}

footer > div {
    align-items: center;
}

footer h1 {
    margin-bottom: 10px; 
}

footer p {
    font-style: italic;
    font-size: 12px;
}

.main-container {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 222px);
    justify-content: space-between;
}

.cards {
    display: block;
    height: 144px;
    padding: 20px;
    align-items: normal;
}

.cards:hover {
    cursor: pointer;
}

.cards a {
    color: black;
    margin-bottom: 20px;
}
