@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    padding: 16px 50px;
    background-color: rgb(3, 81, 81);
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.logo{
    display: flex;
    font-size: 32px;
}

.logo a{
    text-decoration: none;
    color: white;
}

/* HOME */
.introducao{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 25px;
    padding: 28px 70px;
    background-color: rgb(207, 206, 206);
    
}

.introducao > div > h1{
    margin-bottom: 20px;
}

.introducao > div p{
    font-size: 28px;
    margin-bottom: 20px;
    text-align: justify;
}

.introducao img {
    max-width: 100%;  
    height: auto; 
    border-radius: 10px; 
    align-self: center;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 20px 50px;
    margin-top: auto;
}

footer > div {
    align-items: center;
}

footer h1 {
    margin-bottom: 10px; 
}

footer p {
    font-style: italic;
    font-size: 12px;
}

/* CARDS DE MÓDULOS */
.main-container {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    align-items: center;
    padding: 20px 60px;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(4, 222px);
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px;
    position: relative;
}

.cards a {
    color: black;
    margin-bottom: 20px;
    font-weight: 900;
}

.cards p {
    text-align: left;
    margin-bottom: 20px;
}

.cards div { 
    margin-top: auto;
    display: flex; 
    align-self: flex-end;
}

/* MÓDULOS */
.scrum-contents {
    width: 100%;
    padding: 20px 60px;
}

.scrum-contents h1 {
    padding: 0px 0px 15px 0px;
    margin-top: 10px;
}

.scrum-contents p {
    padding: 0px 0px 10px 0px;
    text-align: justify;
    font-size: 20px;
}
.list ul{
    text-align: justify;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
}

